body{
    background-color: hsl(30, 54%, 90%);
    
    color: hsl(30, 10%, 34%);
}
h1{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}
div.content{
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    margin: auto;
    padding: 30px;
}
div.header p{
    padding: 0px 10px;
}
div.content img{
    width: 600px;
    height: 300px;
    display: block;
    border-radius: 20px;
}
p{
    font-size: 16px;
    font-family: "Outfit", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(30, 10%, 34%);
}

div.Preparation-time{
    background-color: hsl(330, 100%, 98%);
    padding: 1px 30px;
    font-family: "Outfit", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
div.Preparation-time~div{
    font-family: "Outfit", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
div.Preparation-time h2{
    color: hsl(332, 51%, 32%);
}

h2{
    color: hsl(14, 45%, 36%);
}

div.Preparation-time li{
    margin-bottom: 10px;
    position: relative;
    right: 13px;
    
    font-weight: lighter;
}

div.Preparation-time li::marker{
    color: hsl(332, 51%, 32%);
}
span.term{
   color:  hsl(30, 10%, 34%);
   font-weight: bold;
}
div.Preparation-time li>span{
    position: relative;
    left: 25px;
}
div.Ingredients{
    padding: 10px;
}
div.Ingredients li::marker{
    color: hsl(14, 45%, 36%);
}
div.Ingredients li{
    position: relative;
    right: 18px;
    margin-bottom: 5px;
    color: hsl(30, 10%, 34%);
    font-weight: 400;
}

div.Ingredients li span{
    position: relative;
    left: 10px;
}

div.instructions li{
    position: relative;
    right: 20px;
    margin-bottom: 10px;
}
div.instructions li:nth-child(6){
    margin-bottom: 30px;
}
div.instructions li>span{
    position: relative;
    left: 10px;
}
div.instructions li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

div.nutrition p{
    font-weight: 500;
}
div.nutrition table{
    width: 100%;
}
div.nutrition td:nth-child(2){
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

div.nutrition td:nth-child(1){
    color: hsl(30, 10%, 34%);
}
div.nutrition td{
    padding: 20px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
@media only screen and (max-width: 376px){
    body{
        margin: 0;
        padding: 0;
    }
    div.content img{
        width: 100%;
        border-radius: 0;
    }
    div.content{
        width: 100%;
        padding: 0;
    }
    h1{
        color: hsl(24, 5%, 18%);
    }
    div.header h1 , div.header p{
        margin: 30px;
    }

    div.Preparation-time{
        width: 70%;
        margin: auto;
    }
    
    div.Ingredients{
        margin: 30px;
    }
    div.instructions{
        margin: 30px;
    }
    div.nutrition{
        margin: 30px;
    }
@media only screen and (max-width: 769px)
{
    body{
        margin: 0;
        padding: 0;
    }
    div.content img{
        width: 100%;
        border-radius: 0;
    }
    div.content{
        width: 100%;
        padding: 0;
    }
    h1{
        color: hsl(24, 5%, 18%);
    }
    div.header h1 , div.header p{
        margin: 30px;
    }

    div.Preparation-time{
        width: 70%;
        margin: auto;
    }
    
    div.Ingredients{
        margin: 30px;
    }
    div.instructions{
        margin: 30px;
    }
    div.nutrition{
        margin: 30px;
    }
}
}